
{% extends 'base.html.twig' %}
{% block title %}Ajouter un Produit{% endblock %}

{% block content %}
    <h1>Ajouter un Produit</h1>

    {{ form_start(form, { 'attr': {'class': 'form'} }) }}

    <div class="form-group">
        {{ form_label(form.titre, 'Nom du Produit') }}
        {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.titre) }}
    </div>

    <div class="form-group mt-3">
        {{ form_label(form.description, 'Description du Produit') }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'rows': 4} }) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group mt-3">
        {{ form_label(form.prix, 'Prix') }}
        {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.prix) }}
    </div>

    <div class="form-group mt-3">
        {{ form_label(form.quantite, 'Quantité en Stock') }}
        {{ form_widget(form.quantite, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.quantite) }}
    </div>

    <div class="form-group mt-3">
        {{ form_label(form.image, 'Image du Produit') }}
        {{ form_widget(form.image, { 'attr': {'class': 'form-control-file'} }) }}
        {{ form_errors(form.image) }}
    </div>

    <button type="submit" class="btn btn-primary mt-4">Ajouter</button>

    {{ form_end(form) }}
{% endblock %}
